@import url("https://fonts.googleapis.com/css?family=Open+Sans");
form .error {
  color: #ff0000;
}
.bubble {
	position: relative;
	background: #FFFFCC;
	border: 1px solid #FFCC00;
    max-width:250px;
    padding:10px;
    font-family:arial;
    margin:0 auto;
    font-size:14px;
    border-radius:6px;
}
.bubble:after,
.bubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: #FFFFCC;
	border-width: 15px;
	margin-top: -15px;
}
.bubble:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: #FFCC00;
	border-width: 16px;
	margin-top: -16px;
}
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}