<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create a new chatroom</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<center>
 <form action="#" th:action="@{/createRoom}" th:object="${chatroom}" method="post">
    	<p>Max Size<input type="number" th:field="*{maxMembers}" value ="Max Size: "/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</center>

</body>
</html>